# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.cout
*.pbi
/Debug
/Debug
*.tmp
Firmware/visir_test/EWARM/Demo/
PC_Code/mavlink_test1/.vs/
PC_Code/mavlink_test1/bin/
PC_Code/mavlink_test1/obj/
PC_Code/mavlink_test1/packages/
Android_Code/visir_android2/.vs/
Android_Code/visir_android2/VisirApp2/bin/
Android_Code/visir_android2/VisirApp2/obj/
